
{{!
    @template block_blockdemo/weather_error

    Weather error display template for block_blockdemo

    Context variables:
    * message - Error message to display
    * showretry - Whether to show retry button
    * citycode - City code for retry action
}}

