
{{!
    @template block_blockdemo/weather_display

    Weather data display template for block_blockdemo

    Context variables:
    * success - Whether the weather data was successfully loaded
    * hasdata - Whether we have weather data to display
    * error - Whether there was an error
    * errormessage - Error message to display
    * location - Location information
    * conditions - Weather conditions
    * temperature - Temperature data
    * wind - Wind data
    * humidity - Humidity data
    * time - Time information
    * meta - Meta information
}}

